1.LIST

In [6]:
fruits=["apple","banana","mango"]
type(fruits)

list

In [8]:
fruits.append("grapes")
print(fruits)

['apple', 'banana', 'mango', 'grapes']

2.TUPLE

In [10]:
fruits=("apple","banana","mango")
print(fruits)
type(fruits)

('apple', 'banana', 'mango')

tuple

3.SET

In [13]:
NUM={1,2,2,2,3,3,4,4,5,5,5,6,7,8,8,9,6,4,3,2,1}
print(NUM)
type(NUM)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

set

4.DICTIONARY

In [18]:
nation={"name":"india",
        "flag":"tiranga",
        "citizen":"indian"}
print(nation)
type(nation)

{'name': 'india', 'flag': 'tiranga', 'citizen': 'indian'}

dict

NOTE:INPUT FUNCTION

addition of sytr=string concatenation

In [1]:
a=int(input("inter a number"))
b=float(input("inter an other number"))
print(a+b)

30.0

In [4]:
x=input("ENTER a number:")
y=int(x)
#type casting
print(y)

18

In [5]:
#print formating
a=10
b=20
c=a+b
print("the sum is",c)

the sum is 30

In [6]:
print("the sum of",a,"and",b,"is",c)

the sum of 10 and 20 is 30

In [3]:
print(f"the sum of{a}and{b}is{c}")

NameError: name 'a' is not defined