-LOOPS
1- FOR LOOP
2- WHILE LOOP

1 FOR LOOP

In [2]:
app=["google","insta","whatsp","swiggy","facebook","spotify", "gpay","zomato","chrome","likdin"]
for x in app:
    print(x)

google
insta
whatsp
swiggy
facebook
spotify
gpay
zomato
chrome
likdin

In [3]:
app=["google","insta","whatsp","swiggy","facebook","spotify", "gpay","zomato","chrome","likdin"]
for app in app:
    print(app )

google
insta
whatsp
swiggy
facebook
spotify
gpay
zomato
chrome
likdin

for loop in list

In [5]:
app=["google","insta","whatsp","swiggy","facebook","spotify", "gpay","zomato","chrome","likdin"]
for a in app:
    print(a, end='❤️' ) # horizontal print

google❤️insta❤️whatsp❤️swiggy❤️facebook❤️spotify❤️gpay❤️zomato❤️chrome❤️likdin❤️

for loop in string

In [8]:
name="my name is sahil"
for i in  name:
    print(i,end='')

my name is sahil

-RANGE

In [9]:
for name in range(10):
    print("komal")

komal
komal
komal
komal
komal
komal
komal
komal
komal
komal

In [11]:
for num in range(1,30):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [15]:
for even in range(2,21,2):
    print(even)

2
4
6
8
10
12
14
16
18
20

for odd num.

In [20]:
for i in range(21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [24]:
bs=50000
da=10/100*bs
print(da)
hra=5/100*bs
print(hra)
print(bs+da+hra)

5000.0
2500.0
57500.0

In [5]:
for num in range(1,11):
   tab = 15*num
   print(f"15 x {num} =",tab)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

2. WHILE LOOP

In [8]:
name = 0
while name<10:
    print("komal")
    name+=1

komal
komal
komal
komal
komal
komal
komal
komal
komal
komal

In [10]:
name = 0
while name<10:
    print("komal")
    name+=1

komal
komal
komal
komal
komal
komal
komal
komal
komal
komal

In [12]:
num=2
while num<11:
    print(num)
    num+=1

2
3
4
5
6
7
8
9
10

In [15]:
um=1
while num<=20:
    if num % 2!=0:
        print(nunm)
    num+=1

1
3
5
7
9
11
13
15
17
19

In [21]:
no=int(input("enter a num"))
num=1 
while num<=10:
    tb=no*num
    print(f"{no} x {num} =",tb)
    num+=1

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

BREAK

In [1]:
for x in range(2,20):
    if x==5:
        break
    print(x)

2
3
4

continue

In [2]:
for x in range(2,20):
    if x==5:
        continue
    print(x)

2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19